body {
    background-image: url('fooldal.jpg');
    background-position: center;                
}
div {
    margin: 0 auto 0 auto;
    width: 1200px;
}
h1, h2, h3 {
    background-color: rgb(155,130,200);
}
h2+p, h3+p {
    background-color: rgb(155,140, 120);
}
body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  min-height: 85vh;
  align-items: flex-end;
  justify-content: center;
}

.center-bottom {
  text-align: center;
  font-size: 50px;
}
