body 
{
background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(../images/fooldal.jpg);
padding-left: 11em;
padding-right: 20em;
font-family:
Georgia, "Times New Roman",
Times, serif; 
color: red;
}

header img {
    float: left;
    margin: 20px 10px 0px 10px;
}

div#wrapper {
    margin: 10px;
}

aside {
    display: table-cell;
    vertical-align: top;
}

nav {
    margin: 0px 10px 0px 0px;
    top: 0px;
    border-radius: 10px;

}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 0px;
}

nav ul li {
    padding: 0px 15px;;
}

nav ul li.active {
    border-right: 5px solid blue;
}

nav ul a {
    text-decoration: none;
    color: blue;
}

div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
}

div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 3px solid blue;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;

}